name: binaryalign
channels: 
  - pytorch
  - nvidia
  - conda-forge
  - defaults
  
dependencies:
  - python=3.10
  - pip
  - setuptools
  - wheel
  - pyyaml
  - pytorch>=2.6
  - torchvision
  - pytorch-cuda=12.1

  - pip:
    - -e .